
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}
body{
	
	
}
.container{
	

}

.logo{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
}
.logo img{
	margin-right: 12px;
}

.logo p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
}

header{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	max-width: 1200px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}
.menu{
	display: flex;
}



.menu li{
	list-style: none;
	margin-right: 26px;
}
.menu li:last-child{
	margin-right: 0px;
}

.menu li a{
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;

	color: #FF9100;
}
@media (max-width:710px){
	li a{
	display: none;
	}
}

.btn{
	padding: 8px 22px;
	background: #FF9100;
	border-radius: 12px;
	color: #fff !important;
}
@media (max-width:710px){
	.btn{
	display: block !important;
	overflow: hidden;
	}
}

.menu li a:hover{
	color: #D56363; 
}

.btn:hover{
	background: #DA830F;
}

nav {
	display: flex;
	align-items: center;
}
.section{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 54px;
	padding: 15px;
	max-width: 1200px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	
}
@media (max-width:1021px){
	.section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	}
}

.information{
display: inline-block;
margin-right: 20px;
max-width: 428px;
width: 100%;

	
}
@media (max-width:1021px){
	.information{
	order: 2;
	}
}

h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 36px;
font-size: calc(24px + 12 *(100vw / 1300));
line-height: 42px;
margin-top: 30px;
}
.title{
	margin-top: 4px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;


color: #374B5C;
}
.subtitle{
	margin-top: 21px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
color: #374B5C;

}
.button{
	margin-top: 26px;
	width: 253px;
	height: 40px;
	background: #FF9100;
	border-radius: 12px;
	
}
.button a{
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
text-decoration: none;
color: #FFFEFC;
display: inline-block;
height: 100%;
width: 100%;
text-align: center;

}
.slider{
	display: inline-block;
	position: relative;
	max-width: 651px;
	width: 100%;
	height: 387px;

	background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 25.53%, #D46363 96.89%), url('../img/Rectangle\ 3.jpg');
	background-position: ;
	border-radius: 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 10px;
}
@media (max-width:1021px){
	.slider{
	order: 1;
	margin-bottom: 80px;
	}
}
.left-arrow{
	position: absolute;
	left: 0;
	top: 38%;
}

.right-arrow{
	position: absolute;
	top: 38%;
	right: 0;
	
}
.date{
	position: absolute;
	left: 46px;
	bottom: 96px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
background: rgba(255, 145, 0, 0.6);
border-radius: 12px;
color: #FFFFFF;
width: 117px;
height: 34px;
text-align: center;

}

	.date{
	position: absolute;
	left: 36px;
	bottom: 25%;
	}
	
	
.text{
	padding-right: 10px;
	position: absolute;
	bottom: 20px;
	left: 36px;
	font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 1.2;
color: #FFFFFF;
}
.round{
	width: 100%;
	margin-top: 29px;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 100%;
}
.row:active{
	background-color: #D56363;
}
.row{
	display: block;
	margin-right: 15px;
	width: 18px;
	height: 18px;
	background: #FF9100;
   border-radius: 50px;
}
@media (max-width:1021px){
	.slider{
	max-width: 700px;
	max-height: 100%;
	}
}
@media (max-width:1021px){
	.information{
	max-width: 1000px;
	text-align: center;
	margin-right: 0;
	}
}
@media (max-width:1021px){
	.button{
		margin: 0 auto;
		margin-top: 26px;
	}
}
@media (max-width:1021px){
	h2{
		
		margin-top: 0px;
	}
}
@media (max-width:1021px){
	.section{
		
		margin-top: 20px;
	}
}
@media (max-width:576px){
	.slider{
	height: 330px;

	}
}
@media (max-width:576px){
	.text{
	font-size: 20px;

	}
}
@media (max-width:473px){
	.text{
	font-size: 16px;

	}
}
@media (max-width:473px){
	.slider{
	height: 300px;

	}
}
@media (max-width:426px){
	.slider{
	height: 230px;

	}
}
@media (max-width:426px){
	.text{
	font-size: 14px;

	}
}
@media (max-width:426px){
	.date{
	font-size: 9px;
	width: 53px;
height: 16px;


	}
}
@media (max-width:410px){
	p{
	display: none;


	}
}

/*  */
.proekts {
	margin-top: 160px;
}
@media screen and (max-width:1154px) {
	.proekts{
		margin-top: 70px;
	}
	
}
.proekts__title {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.item-proekts__left-line {
	border-bottom: 1px solid #FF9100;
	width: 100%;

    
}
.item-proekts__title {
	margin: 0 20px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 36px;
font-size: calc(18px + 18 * (100vw / 1170));
line-height: 42px;
color: #FF9100;
white-space: nowrap ;
}
.item-proekts__right-line {
	border-bottom: 1px solid #FF9100;
	width: 100%;
}
.proekts__container{
	max-width: 1170px;
	margin: auto;
	padding: 15px;
}
.proekts__subtitle {
	margin: auto;
	max-width: 836px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
}
.proekts-row {
	display: flex;
	justify-content: start;
	margin-top: 46px;
	flex-wrap: wrap;
	position: relative;
}
.proekts-row__column {
	position: relative;
	max-width: 261px;
	height: 305px;
	background: rgba(255, 145, 0, 0.96);
border-radius: 24px;

padding: 10px;
border-radius: 24px;
overflow: hidden;
margin: 10px;

}
.proekts-row__image {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	
}
.proekts-row__image img {
	max-width: 100%;
}
.proekts-row__title {
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
margin-top: 4px;
}
.proekts-row__subtitle {
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
text-align: center;
margin-top: 10px;
}
.hidden{
	position: absolute;
	left: 0;
	top: 100%;

	transition: 2s;
}
.proekts-row__col{
	width: 261px;
	height: 305px;
	background: rgba(255, 145, 0, 0.96);
border-radius: 24px;
flex: 0 1 261px;
padding: 10px;
background: #D46363;
border-radius: 24px;

}
.proekts-row__column:hover .hidden{
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0%;
	transition: 2s;
}
@media screen and (max-width:1154px) {
	.proekts-row{
    max-width: 845px;
	margin: auto;
}
	
}
@media screen and (max-width:872px) {
	.proekts-row{
    max-width: 565px;
	margin: auto;
}
	
}
@media screen and (max-width:872px) {
	.proekts__subtitle{
    display: none;
}
	
}

@media screen and (max-width:592px) {
	.proekts-row{
   display: flex;
   justify-content: center;
}
	
}
@media screen and (max-width:592px) {
	.proekts-row__column:nth-child(2){
  display: none;
}
	
}
@media screen and (max-width:592px) {
	.proekts-row__column:nth-child(3){
  display: none;
}
	
}
@media screen and (max-width:592px) {
	.proekts-row__column:nth-child(4){
  display: none;
}
	
}
.arrow-l, .arrow-r {
	display: none;
}
@media screen and (max-width:592px) {
	.arrow-l{
transform: rotate(180deg);
position: absolute;
left: 4%;
top: 4%;
display: block;
background: #E41313;
border-radius: 50px;
color: #fff;
width: 26px;
height: 26px;
display: flex;
justify-content: center;
align-items: center;
}
	
}
@media screen and (max-width:592px) {
	.arrow-r{

position: absolute;
top: 4%;
right: 4%;
display: block;
background: #E41313;
border-radius: 50px;
color: #fff;
width: 26px;
height: 26px;
display: flex;
justify-content: center;
align-items: center;
}
	
}
.red{
	color: #D46363;
}
.red-line{
	border-bottom: 2px solid #D46363;
}
.margin{
	margin-top: 110px;
}
.wrapper{
	background: rgba(255, 168, 0, 0.06);
	padding: 0 10px 70px 10px;

}
.command {
	max-width: 1150px;
	margin: auto;
	transition: 2s;
	
}
.command__row {
	margin-top: 47px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	transition: 2s;
}
.command__element {
	position: relative;
	border-radius: 50%;
	transition: 2s;
	
	
}
.command__element img {
	max-width: 100%;
	padding: 15px;
	border-radius: 50%;
	transition: 2s;

}
@media screen and (max-width:955px) {
	.none{
		display: none;

}
}
@media screen and (max-width:955px) {
	.none{
		display: none;

}
}
.button__join{
margin-top: 66px;
display: flex;
justify-content: center;
padding: 20px;

}
.button__join a{
	border-radius: 14px;
	width: 523px;
	height: 97px;
	background: #FF9E1F;
	font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 28px;
font-size: calc(14px + 14 * (100vw / 1170));
line-height: 1.2;
color: #FFFDFD;
display: block;
padding: 5px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.element-hover{
	max-width: 224px;
	max-height: 224px;
	background: rgba(212, 99, 99, 0.9);
	border-radius: 50%;
	padding: 20px 25px 49px 27px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 15px;
	display: none;
	transition: 2s;
	
	
}
.command__element:hover .element-hover{
	display: block;
	transition: 3s;
	overflow: hidden;
	cursor: pointer;
}
@media screen and (max-width:790px) {
	.command__element:hover .element-hover{
		display: none;
	}
	
}
.element-hover img{
	display: block;
	margin: 0 auto;
	border-radius: 0px;
}
.element-name {
	text-align: center;
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
margin-top: 0px;
color: #FFFFFF;
}
.element-text {
	text-align: center;
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}
.element-subtitle {
	text-align: center;
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
margin-top: 15px;
color: #FFFFFF;
}
.partners{
	max-width: 1200px;
	padding: 20px;
	margin: auto;
	margin-top: 83px;
	
}
.partners__element{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 33px;
}
.partners__title{
	text-align: center;
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #000000;
}
.partners img{
	max-width: 100%;
	margin: 10px;
}
.image-row{
	position: relative;
}
.bac{
position: absolute;
left: 0;
top: 0;
display: none;
}
.image-row:hover .bac{
	display: block;
}
.footer {
}
.footer__container {
	background: rgba(255, 145, 0, 0.9);
	margin-top: 88px;
	
}
.footer__content{
	display: flex;
	max-width: 1200px;
	margin: 0px auto;
	padding: 35px;
	justify-content: space-between;
	
	
}
.footer__logo {
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
max-width: 260px;
color: #FFFFFF;
}
.title-element {
	margin-left: 26px;
	padding-top: 5px;
}
.footer__information{
	display: flex;
	justify-content: space-between;
	width: 318px;
	padding: 0 40px 0 40px;
}
.d{

}
.footer__information a{
margin-bottom: 9px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
color: #fff;
}
.footer__information a:hover{
	

font-weight: 700;


color: #FFFFFF;
}
.footer__contakts {
	
}
.tel {
	display: flex;
	align-items: center;
	

}
.tel__number a{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
margin-left: 22px;
}
.gmail {
	display: flex;
	align-items: center;
	
}
.gmail__text {
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
margin-left: 22px;
}
.icon {
	display: flex;
	justify-content: flex-end;
	
}
.icon a{
	margin-left: 32px;
	margin-top: 20px;
}
.footer__end {
	max-width: 1291px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
text-align: center;
color: #fff;
border-top: 1px solid #fff;
padding-top: 21px;
padding-bottom: 30px;
margin: auto;
}
@media screen and (max-width:1030px) {
	.footer__information{
  display: block;
}
	
}
@media screen and (max-width:1030px) {
	.footer__information a{
		display: block;
		padding-left: 30px;
}
	
}
@media screen and (max-width:1030px) {
	.tel__number{
  display: none;
}
	
}
@media screen and (max-width:1030px) {
	.gmail__text{
  display: none;
}
	
}
@media screen and (max-width:1030px) {
	.gmail{
 display: flex;
 justify-content: flex-end;
}
	
}
@media screen and (max-width:1030px) {
	.tel{
 display: flex;
 justify-content: flex-end;
 margin-bottom: 10px;
}
	
}
@media screen and (max-width:780px) {
	.tel{
 display: none;
	
}
}
@media screen and (max-width:780px) {
	.gmail{
 display: none;
	
}
}
@media screen and (max-width:780px) {
	.footer__logo{
 display: none;
	
}
}
@media screen and (max-width:780px) {
	.footer__contakts{
 display: flex;
 align-items: center;
 justify-content: center;
	
}
}
@media screen and (max-width:520px) {
	.footer__content{  
 display: block;
 width: 100%;
 margin: auto;
	
}
}
@media screen and (max-width:520px) {
	.footer__information{  
margin: auto;
	
}
}
@media screen and (max-width:520px) {
	.footer__information a{
		
		padding-left: 65px;
}
	
}@media screen and (max-width:872px) {
	.margin{
		
		margin-top: 10px;
}
	
}
@media screen and (max-width:872px) {
	.button__join{
		margin-top: 20px;
		padding: 0 80px 0 80px;

}
	
}
@media screen and (max-width:449px) {
	.button__join a{
   height: 100%;
}
	
}
@media screen and (max-width:520px) {
	.icon a{
  margin: 15px;
}
	
}
@media screen and (max-width:382px) {
	.partners img{
  width: 130px;
	
}
}
@media screen and (max-width:552px) {
	.partners{
 margin-top: 10px;
}
}
@media screen and (max-width:520px) {
	.footer__content{
 padding: 10px;
}
}



